.row
  .large-12.columns
    %h2.page-heading
      Application status
.row
  %dl.tabs.vertical{"data-tab" => ""}
    %dd.active
      %a{:href => "#panel1"} General information
    %dd
      %a{:href => "#panel2"} Passport information
    %dd
      %a{:href => "#panel3"} Educational Information
    %dd
      %a{:href =>"#panel4"} Delegate Information
  .tabs-content.vertical
    #panel1.content.active
      %ul.application-show-list
        =render 'show_field' , :attrib => @application.name , :attrib_name => "Name"
        =render 'show_field' , :attrib => @application.gender , :attrib_name => "Gender"
        =render 'show_field' , :attrib => @application.dob , :attrib_name => "Date of Birth"
        =render 'show_field' , :attrib => @application.mobile_phone , :attrib_name => "Mobile Phone"
        =render 'show_field' , :attrib => @application.current_address , :attrib_name => "Address"
        =render 'show_field' , :attrib => @application.emergency_contact_person , :attrib_name => "Emergency Contact Person"
        =render 'show_field' , :attrib => @application.emergency_contact_person_phone, :attrib_name => "Emergency Contact Phone"
        =render 'show_field' , :attrib => @application.special_needs , :attrib_name => "Special Needs"
    #panel2.content
      %ul.application-show-list
        -if @application.passport
          =render 'show_field' , :attrib => @application.passport.passport_issue_city , :attrib_name => "Passport issued in City"
          =render 'show_field' , :attrib => @application.passport.passport_issue_country , :attrib_name => "Passport issued in Country"
          =render 'show_field' , :attrib => @application.passport.passport_no , :attrib_name => "Passport number "
          =render 'show_field' , :attrib => @application.passport.country_name , :attrib_name => "Country of residence"
          =render 'show_field' , :attrib => @application.passport.nationality , :attrib_name => "Nationality"
          =render 'show_field' , :attrib => @application.passport.province , :attrib_name => "Province"
        -else
          No Information
    #panel3.content
      %ul.application-show-list
        =render 'show_field' , :attrib => @application.university , :attrib_name => "University"
        =render 'show_field' , :attrib => @application.field_of_studies , :attrib_name => "Field of studies"
        %p
          =render 'show_field' , :attrib => @application.previous_experience , :attrib_name => "Previous MEU experience"
        %p
          =render 'show_field' , :attrib => @application.motivational_letter , :attrib_name => "Motivational letter"
    #panel4.content
      %ul.application-show-list
        %li=image_tag @application.photo.url(:medium)
        =render 'show_field' , :attrib => @application.faction , :attrib_name => "Role"



.row
  %hr
  .medium-2.columns.push-left
    = link_to( raw("<i class='fi-page-edit'></i> Edit application"), application_process_edit_application_path , :class => "button expand")
  - if application_check
    .medium-2.columns.push-left.floatit_left
      = link_to raw("<i class='fi-upload'></i> Submit Application") , submit_application_process_applications_path , :class => "button success expand large"
