%ul
- if instance_variable_get("@#{type}_partners").empty?
  %h5="Your have no #{type}s."
- else
  - instance_variable_get("@#{type}_partners").each do |partner|
    = render 'admin/partners/partner_attributes' , partner: partner
