.row
  .medium-12.columns
    .row
      .medium-2.columns
        =image_tag(@application.photo.url(:medium))
      .medium-10.columns
        %h1=@application.name
        %h3=@application.user.email
    .row
      .medium-12.columns
        %h3.subheader
          Personal Information
        .panel
          .row
            .medium-2.columns
              =render 'show_field' , :attrib => @application.dob , :attrib_name=> "Date of birth:"
            .medium-2.columns
              =render 'show_field' , :attrib => @application.gender, :attrib_name=> "Gender:"
            .medium-2.columns
              =render 'show_field' , :attrib => @application.mobile_phone, :attrib_name=> "Mobile phone:"
            .medium-2.columns
              =render 'show_field' , :attrib => @application.current_address, :attrib_name=> "Current Address:"
            .medium-2.columns
              =render 'show_field' , :attrib => "#{@application.emergency_contact_person} , #{@application.emergency_contact_person_phone}", :attrib_name=> "Emergency contact person and phone:"
            .medium-2.columns
              =render 'show_field' , :attrib => @application.special_needs, :attrib_name=> "Special needs:"
    .row
      .medium-12.columns
        %h3.subheader
          Education Information
        .panel
          .row
            .medium-6.columns
              =render 'show_field' , :attrib => @application.university, :attrib_name=> "University:"
            .medium-6.columns
              =render 'show_field' , :attrib => @application.field_of_studies, :attrib_name=> "Field of studies:"
    .row
      .medium-12.columns
        %h3.subheader
          Passport Information
        -if @application.passport
          .panel
            .row
              .medium-2.columns
                =render 'show_field' , :attrib => @application.passport.passport_no , :attrib_name => "Number:"
              .medium-2.columns
                =render 'show_field' , :attrib => @application.passport.passport_issue_country , :attrib_name => "Country of issue:"
              .medium-2.columns
                =render 'show_field' , :attrib => @application.passport.passport_issue_city , :attrib_name => "City of issue:"
              .medium-2.columns
                =render 'show_field' , :attrib => @application.passport.country , :attrib_name => "Residence:"
              .medium-2.columns
                =render 'show_field' , :attrib => @application.passport.nationality , :attrib_name => "Nationality:"
              .medium-2.columns
                =render 'show_field' , :attrib => @application.passport.province , :attrib_name => "Province:"
        -else
          No Information
    .row
      .medium-12.columns
        %h3.subheader
          Delegate Information
        .panel
          .row
            .medium-6.columns
              =render 'show_field' , :attrib => @application.faction , :attrib_name => "Role:"
            .medium-6.columns
              =render 'show_field' , :attrib => @application.learned_from, :attrib_name=> "Learned from:"
    .row
      .medium-12.columns
        %h3.subheader
          Motivational Letter
        .panel
          %p
            =check_input( @application.motivational_letter)
    .row
      .medium-12.columns
        %h3.subheader
          Previous experience
        .panel
          %p
            =check_input(@application.previous_experience)
    .row
      .medium-12.columns
        %h3.subheader
          Creation Information
        .panel
          .row
            .medium-6.columns
              %b
                Created:
              =@application.created_at.strftime("%m/%d/%Y")
            .medium-6.columns
              %b
                Updated:
              =@application.updated_at.strftime("%m/%d/%Y")

  .row
    .medium-3.columns
      =link_to raw('<i class="fi-arrow-left large-icon"></i>'), admin_applications_path
    .medium-3.columns.medium-offset-3
      =link_to raw('<i class="fi-check large-icon"></i><span class="icon-link-text"> Approve </span>'), admin_accept_application_path(:id => @application)
    .medium-3.columns
      =link_to raw('<i class="fi-x large-icon"></i><span class="icon-link-text"> Deny </span>'), admin_deny_application_path(:id => @application)