/* line 2, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.number-circle {
  border-radius: 50%;
  width: 31px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  background: #FFFFFF;
  color: #30659B;
  text-align: center;
}

/* line 13, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.pagination {
  box-sizing: border-box;
  color: black;
  cursor: auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  height: 22.5px;
  line-height: 24px;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: 18.75px;
  margin-left: -4.6875px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 22.5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 856.015625px;
}

/* line 37, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.admin-log-out {
  color: white;
  padding-right: 20px;
}

/* line 41, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
#wrap {
  min-height: 1024px;
}

/* line 45, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.inner-wrap {
  width: auto;
}

/* line 49, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 114px;
  height: 100%;
}

/* line 61, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
#wide-bar {
  width: 15.625rem;
}

/* line 65, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.large-icon {
  font-size: 32px;
}

/* line 69, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.medium-icon {
  font-size: 24px;
}

/* line 73, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.icon-link-text {
  font-size: 24px;
  line-height: 32px;
}

/* line 80, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.switch-on {
  position: absolute;
  left: -55px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px;
}

/* line 89, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: white;
  font-weight: bold;
}

/* line 98, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.admin-menu-lg {
  padding-left: 0 !important;
}

/* line 105, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.row.full-width {
  max-width: 100% !important;
}
/* line 107, /Users/Spawns/Projects/RailsProjects/meu/app/assets/stylesheets/admin/admin_general.scss */
.row.full-width .row {
  margin: 0 auto;
  max-width: 62.5rem;
  background: inherit;
}
