= content_for :sidebar do
  = render 'frontend/shared/conference_sidebar_items'
= content_for :sidebar_title do
  Conference Menu
.row.full-width.page-bgimage{:id => 'transportation-page-bg'}
  %h2.conference-heading
    Transportation 
.row
  .large-12.columns
    = @page.content.html_safe
