.row
  .large-4.small-12.columns
    %h4
      =@video.title
    %h5.subheader
      =@video.published_at.strftime('%a %d %b %Y')
    %p
      =@video.description
  .large-8.small-12.columns
    .flex-video
      =@video.embed_html.html_safe
